.vs-displayed-value-wrapper {
  display: flex;
  align-items: center;
}

.vs-displayed-value {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--vs-displayed-value-font-size);
  color: var(--vs-displayed-value-color);
  line-height: 1;
}

.vs-displayed-value-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--vs-displayed-value-item-font-size);
  padding: var(--vs-displayed-value-item-padding-y) var(--vs-displayed-value-item-padding-x);
  border-radius: var(--vs-displayed-value-item-border-radius);
  background-color: var(--vs-displayed-value-item-background-color);
  color: var(--vs-displayed-value-item-color);
  line-height: 1;

  & + & {
    margin-left: var(--vs-displayed-value-item-spacing);
  }
}