.vs-label {
  display: inline-block;
  margin-bottom: var(--vs-label-margin-bottom);
  cursor: default;
  font-size: var(--vs-label-font-size);

  &--required {
    position: relative;

    &:after {
      position: absolute;
      content: '*';
      color: var(--vs-label-required-color);
      top: var(--vs-label-required-top);
      right: var(--vs-label-required-right);
    }
  }
}