:root {
  // label
  --vs-label-margin-bottom: 0.5rem;
  --vs-label-font-size: 0.9rem;
  --vs-label-required-color: #c64949;
  --vs-label-required-top: -2px;
  --vs-label-required-right: -10px;

  // field container
  --vs-field-wrapper-border-color: #dadada;
  --vs-field-wrapper-border-width: 1px;
  --vs-field-wrapper-border-radius: 5px;

  // field
  --vs-field-height-height: 36px;
  --vs-field-padding-x: 0.7rem;
  --vs-field-padding-arrow-container-width: 32px;

  // field placeholder
  --vs-field-placeholder-color: #8e8e8e;
  --vs-field-placeholder-font-size: 0.85rem;

  // field value
  --vs-displayed-value-font-size: 0.9rem;
  --vs-displayed-value-color: inherit;
  --vs-displayed-value-item-font-size: 0.9rem;
  --vs-displayed-value-item-color: #fff;
  --vs-displayed-value-item-background-color: #5a74f0;
  --vs-displayed-value-item-border-radius: 3px;
  --vs-displayed-value-item-padding-y: 2px;
  --vs-displayed-value-item-padding-x: 4px;
  --vs-displayed-value-item-spacing: 5px;

  // dropdown
  --vs-dropdown-margin-top: 5px;
  --vs-dropdown-border-color: #dadada;
  --vs-dropdown-border-width: 1px;
  --vs-dropdown-border-radius: 5px;
  --vs-dropdown-background-color: #fff;
  --vs-dropdown-transition-duration: 150ms;

  // dropdown options list
  --vs-dropdown-options-list-max-height: 250px;
  --vs-dropdown-options-list-margin-top: 0.6rem;

  // dropdown option
  --vs-dropdown-option-padding-y: 0.5rem;
  --vs-dropdown-option-padding-x: 0.62rem;
  --vs-dropdown-option-background-color: #fff;
  --vs-dropdown-option-hovered-background-color: #f2f6ff;
  --vs-dropdown-option-selected-background-color: #efefff;
  --vs-dropdown-option-hovered-selected-background-color: #d1e4ff;

  // dropdown selected options
  --vs-dropdown-selected-options-title-margin-left: 0.62rem;
  --vs-dropdown-selected-options-title-margin-bottom: 0.3rem;
  --vs-dropdown-selected-options-title-font-size: 0.8rem;
  --vs-dropdown-selected-options-title-color: #8e8e8e;
  --vs-dropdown-selected-options-divider-margin-y: 0.62rem;
  --vs-dropdown-selected-options-divider-margin-x: 0.62rem;
  --vs-dropdown-selected-options-divider-background-color: #dadada;

  // dropdown plug
  --vs-dropdown-plug-padding: 0.6rem;
  --vs-dropdown-plug-font-size: 0.8rem;
  --vs-dropdown-plug-color: #7e7e7e;

  // search container
  --vs-search-wrapper-padding-top: 0.3rem;
  --vs-search-wrapper-padding-bottom: 0;
  --vs-search-wrapper-padding-inline: 5px;

  // search input
  --vs-search-input-padding-y: 0.62rem;
  --vs-search-input-padding-x: 0.62rem;
  --vs-search-input-border-width: 1px;
  --vs-search-input-border-color: #dadada;
  --vs-search-input-border-radius: 5px;
  --vs-search-input-background-color: #fff;
  --vs-search-input-font-size: 0.8rem;
  --vs-search-input-palceholder-color: #8e8e8e;
}